---
layout: project
---

<style>
    .menu a.btn {
        justify-content: flex-start;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.8;
        cursor: not-allowed;
    }

    .sidebar {
        top: 64px;
        height: calc(100vh - 80px);
    }

    .avatar {
        position: relative;
        width: 8rem; /* Adjust size as needed */
        height: 8rem; /* Adjust size as needed */
    }

    #profilePic {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1.5rem;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .avatar:hover .overlay {
        opacity: 1;
    }
</style>


<div class="flex">
    <aside class="flex flex-col items-center h-screen sticky top-0 overflow-y-auto space-y-4 w-72 py-6 px-4 bg-base-200 sidebar">
        <div class="avatar" onclick="my_modal_1.showModal()">
            <div id="pic" class="w-32 rounded-full">
                <img id="profilePic" class="w-32 rounded-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPjKATmnhrK5tAwwubWT4StUWrCzms3kOx0eYfXtHqLg&s" onerror="handleImageError()" />
                <div class="overlay">
                    <i class="fa-solid fa-camera"></i> <!-- You can use any icon or text here -->
                </div>
            </div>
        </div>
        <dialog id="my_modal_1" class="modal">
            <div class="modal-box">
                <h3 class="font-bold text-lg">Upload Profile Image</h3>
                <p class="py-4">Please upload a profile image:</p>
                <input type="file" id="file-input" class="file-input w-full max-w-xs" accept=".jpg, .jpeg, .png"/>
                <div id="errorMessage" class="hidden text-red-500">File size exceeds the limit. Maximum allowed size is 5MB.</div>
                <div class="modal-action">
                <form method="dialog">
                    <button class="btn btn-success" onclick="uploadFile()">Update</button>
                    <button class="btn">Cancel</button>
                </form>
                </div>
            </div>
        </dialog>
        <h2 class="font-bold text-lg">User name</h2>
        <span class="text-sm text-accent">username@email.com</span>
        <div class="flex flex-col border-y px-2 w-full overflow-y-auto">
            <ul class="menu menu-lg w-full">
                <li>
                    <a class="btn btn-ghost text-left">
                        <i class="fa-solid fa-house"></i> Dashboard
                    </a>
                </li>
                <li>
                    <a class="btn btn-ghost">
                        <i class="fa-solid fa-arrow-trend-up"></i> Market
                    </a>
                </li>
                <li>
                    <a class="btn btn-ghost">
                        <i class="fa-solid fa-clock-rotate-left"></i> Purchase History
                    </a>
                </li>
                <li>
                    <a class="btn btn-ghost">
                        <i class="fa-solid fa-arrow-down-up-across-line"></i> Higher or Lower
                    </a>
                </li>
                <li>
                    <a class="btn btn-ghost">
                        <i class="fa-solid fa-chart-simple"></i> Performance
                    </a>
                </li>
                <li>
                    <a class="btn btn-ghost">
                        <i class="fa-solid fa-chalkboard-user"></i> Sessions
                    </a>
                </li>
                <li>
                    <a class="btn btn-ghost">
                        <i class="fa-solid fa-circle-info"></i> Support
                    </a>
                </li>
            </ul>
        </div>
        <div class="flex justify-center items-center p-2 w-full">
            <a class="btn btn-error btn-sm mr-3" title="Logout">
                <span class="font-bold">Logout</span>
                <i class="fa-solid fa-door-open"></i>
            </a>
        </div>
    </aside>
    <main class="flex-1">
        {{ content }}
    </main>
</div>

<script>
    document.getElementById('pic').innerHTML = `<img id="profilePic" src="http://csa-ai.stu.nighthawkcodingsociety.com/api/person/image/${userEmail}" onerror="handleImageError()"/>`;
    function handleImageError() {
        imgElement = document.getElementById('profilePic');

        imgElement.style.display = 'none';
        document.getElementById('pic').innerHTML = `<img id="profilePic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPjKATmnhrK5tAwwubWT4StUWrCzms3kOx0eYfXtHqLg&s">`; // Display an error message
    }
</script>